.header {
    
    background: linear-gradient(90deg, #349ccf 0%, #8fd3f4 50%, #349ccf 100%);
}
.navbar-brand{
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
    font-size: 17px;
}
.tabTodo {
    background: linear-gradient(90deg, #cbeeff 0%, aliceblue 50%, #cbeeff 100%);
}
.text-footer{
    color: aliceblue;
    font-size: 17px;
}